<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </header>
    <body>
        {{> header}}        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi enim, elementum egestas vulputate quis, condimentum quis dolor. Morbi ac orci lectus. Duis massa nunc, maximus vitae porta a, facilisis sed lorem. In sit amet turpis sit amet arcu pulvinar porta ac at enim. Sed mollis sit amet metus sed consectetur. Cras eu ullamcorper turpis. Integer non eros a leo dictum malesuada non quis lorem. Etiam lectus nisl, faucibus at erat a, volutpat imperdiet augue. Morbi et dolor ac tellus bibendum consectetur nec ut est. Donec at vulputate metus, elementum fermentum nulla. Pellentesque eget sagittis lacus, ac imperdiet libero. Cras purus libero, placerat eu diam facilisis, convallis rutrum ipsum. Etiam dignissim auctor enim vitae mattis. Praesent aliquet vulputate diam a vestibulum. Proin euismod interdum mauris, nec bibendum ligula posuere nec. Maecenas interdum ligula eu dui tristique, eget accumsan felis consectetur.

                Aliquam sit amet euismod lectus, a faucibus libero. In maximus maximus varius. Suspendisse tincidunt libero nec diam vehicula porta. Nam rutrum suscipit scelerisque. Etiam tristique consectetur libero vitae fringilla. Nullam blandit quis ante elementum fringilla. Mauris at lectus tincidunt, consectetur tortor eget, commodo mi. Sed a pretium odio. Nullam scelerisque eros orci, vel dignissim eros sollicitudin vitae. Vivamus ac ullamcorper lectus.</p>
        {{> footer}}
    </body>
</html>