<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </header>
    <body>
        <h3>Something happened. We are working on it.</h3>
    </body>
</html>